/* 기본 여백 완전히 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  overflow-x: hidden; /* 가로 스크롤 방지 */
  background-color: #ffffff;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none; /* Vite 기본 설정 해제 */
  text-align: left; /* 기본 정렬 해제 */
}
